button, a {
    cursor: pointer;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.modal-body {
    overflow: auto;
}
.fa-bars {
    color: white;
}
@media screen and (min-width: 992px){
    .open-menu {
        display: none;
    }
}
.tooltip.navbar-sidenav-tooltip {
    display: none !important;
}
tr.selected {
    background-color: rgba(0,0,0,.075);
}
.insert-org input {
    float: left;
    clear: both;
    margin-bottom: 5px;
}
.result > p{
    padding: 5px 15px;
    border-radius: 4px;
}
.container-fluid {
    overflow-x: scroll;
}